/* RESET STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --panel-width: calc(100% / 6);
    --darkblue: #02020c;
    --white: #fff;
    --lightgray: #fafafb;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 3rem;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    height: 100vh;
    font-family: "Montserrat", sans-serif;
}

/* MAIN STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {
    position: fixed;
    top: 30px;
    right: 50px;
    z-index: 1;
}

.page-header ul {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.page-header ul a {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid transparent;
}

.page-header .active a {
    border-color: var(--white);
}

.main-content {
    clip-path: circle(20%);
    background: var(--darkblue);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panels {
    position: fixed;
    top: 0;
    left: 50%;
    width: 180vw;
    height: 100%;
    transform: translateX(-50%) skew(-35deg);
    background: var(--lightgray);
}

.panels .panel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--panel-width);
    background: var(--darkblue);
    transform-origin: top;
    transform: scaleY(0);
    z-index: 2;
}

.panels .panel:nth-child(even) {
    transform-origin: bottom;
}

.panels .panel:nth-child(2) {
    left: calc(var(--panel-width) - 1px);
}

.panels .panel:nth-child(3) {
    left: calc(calc(var(--panel-width) * 2) - 2px);
}

.panels .panel:nth-child(4) {
    left: calc(calc(var(--panel-width) * 3) - 4px);
}

.panels .panel:nth-child(5) {
    left: calc(calc(var(--panel-width) * 4) - 5px);
}

.panels .panel:nth-child(6) {
    left: calc(calc(var(--panel-width) * 5) - 6px);
}

@media (max-width: 1024px) {
    .panels {
        width: 200vw;
    }
}

@media screen and (max-width: 600px) {
    .panels {
        width: 230vw;
    }
}

/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
    position: fixed;
    right: 15px;
    bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 5px;
}

.page-footer a {
    margin-left: 4px;
}
